@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap');

*{
    font-family: 'Open Sans', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none; border:none;
    transition: all .2s linear; /* transicion de los hover, tambien para la transicion en responsivo */
}

// variables colores
$lila:#cb9bde;
$purple:#9032bb;
$white:#ffffff;
$black:#242424;
$black-words:#090909;

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
    scroll-padding-top: 5rem;
    overflow-x: hidden;

    &::-webkit-scrollbar{ // grosor"
      width: 1rem;
    }
  
    &::-webkit-scrollbar-track{ // color de fondo del scroll
      background: $black;
    }
  
    &::-webkit-scrollbar-thumb{ // color barra scroll
      background: $purple;
    }
}

// section{
//     // padding:5rem 6%; /*con este le damos la misma medida a todas las secciones*/
// }

.pulse{
  width: 5rem;
  height: 5rem;
  background: #51c254;
  border-radius: 50%;
  text-align: center;
  line-height: 5rem;
  font-size: 2rem;
  position: fixed;
  bottom: 1rem;
  right: 1.3rem;
  z-index: 100;
  cursor: pointer;

  i{
    color: white;
  }
}

.pulse:after ,
.pulse:before{
  content: "";
  position: absolute;
  left: -1rem;
  top: -1rem;
  right: -1rem;
  bottom: -1rem;
  border: 1px solid green;
  border-radius: 50%;
  animation: pulse 1.5s linear infinite;
}

.pulse::after{
  animation-delay:.4s;
}

@keyframes pulse{
  0%{
    transform: scale(.5);
    opacity: 0;
  }

  50%{
    transform: scale(1);
    opacity: 1;
  }

  100%{
    transform: scale(1.4);
    opacity: 0;
  }
}

//header
.header .navbar .before::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background: $lila;
    border-radius: 100px;
    bottom: 10px;
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
    -webkit-transform-origin: center;
            transform-origin: center;
    -webkit-transition: -webkit-transform 0.5s;
    transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
    transition: transform 0.5s, -webkit-transform 0.5s;
  }

  .header .navbar .before:hover::before {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
    -webkit-transform-origin: center;
            transform-origin: center;
  }
  
  .header .navbar .before {
    display: inline-block;
    padding: 15px 0;
    margin: 0 10px 0 10px;
    font-size: 2rem;
    color: #fff;
    position: relative;
  }

.header{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    // background: rgb(21, 21, 21);
    background:#7900ac;
    z-index: 4000;

    .header-top{

        p,a{
            color: $white;
            font-size: 1.5rem;
            padding: 1rem 0;
            text-align: center;
            font-weight: 500;

            a:hover{
                color: $lila;
            }
        }
    }

    .header-center{
        background: $black;

        .header-center-items{
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding:.5rem 6%;
            z-index: 100;

            h1{
                color: $lila;
                font-size: 3rem;
            }

            .navbar{
                
                a{
                    display: inline-block;
                    color: $white;
                    font-size: 1.9rem;
                    font-weight: 500;
                    margin-left:.5rem ;
                }

                .descarga{
                  color: $lila;
                  position: relative;
                }
            }
        }
    }
}



#menu-btn{
    font-size: 3rem;
    cursor: pointer;
    display: none;
  }


//slider
.btn{
    margin-top: 3rem;
    display: inline-block;
    padding: 1rem 2.8rem;
    padding-right: 3rem;
    background: linear-gradient(130deg, $purple 93%, transparent 90%);
    color: $white;
    cursor: pointer;
    font-size: 1.7rem;
    font-weight: 600;
  
    &:hover{
      transform: scale(1.1);
    }
}

.home{
    padding: 0;
    margin-top: 9.5rem;
  
    .slide{
      min-height: 84.9vh;
      background-size: cover !important; //se centra "casi" imagen
      background-position: 0 45%!important; // busca el centro de la imagen "abdomen"
      padding: 0 6%; // se mueve texto
      display: flex;       // centra el texto en pantalla "abdomen" 
      align-items: center; // centra el texto en pantalla "abdomen"
  
      .content{
        width: 60rem;
  
        h2{
          font-size: 4rem;
          color: $lila;
          font-weight: 600;
          display: block;
        }
  
        p{
          font-size: 2.8rem;
          color: $white;
          padding: 1rem 0;
          margin-top: 1rem;
        }
      }
    }
  }

  .swiper-pagination-bullet{
    height: 2rem;
    width: 2rem;
    background: $white;
    border-radius: 0;
  
    &.swiper-pagination-bullet-active{
      background: $lila;
    }
  }

// iconos 
.iconos{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 5rem 6%;

  .iconos-items{
    display: flex;
    align-items: center;
    margin-bottom: 1rem;

    i{
      font-size: 5rem;
      color: $purple;
      margin-right: 1rem;
    }

    .iconos-textos{
      font-size: 1.5rem;
      color: $black-words;

      h3{
        line-height: 3rem;
      }

      span{
        color: rgb(118, 118, 118);
        font-weight: 600;
      }
    }
  }
}

//acerca de mi
.subtitulos{
  font-size: 3rem;
  margin-bottom: 1rem;
  color: $purple;
}

.texto-de-subtitulos{
  color: $black-words;
  font-size: 1.7rem;
  font-weight: 500;
}

.acerca-de-mi{
  padding: 0 6%;

  figure{

    img{
      height: 30rem;
      width: 50rem;
      border-radius: .5rem;
      margin-right: 5rem;
    }
  }

  .acerca-de-mi-items{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}


//productos capilares
.productos-capilares{
  padding: 7rem 6%;
}

.container-card{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  border-radius: 3rem;

  .card{
    position: relative;
    margin-top: 4rem;
    box-shadow: .4rem .4rem 1rem #747474;

    img{
      height: 38rem;
      width: 33rem;
      cursor: pointer;
      object-fit: cover;
    }

    h3{
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translate(-50%, -0%);
      text-align: center;
      background: $black;
      font-size: 1.5rem;
      width: 100%;
      padding: .5rem 0;
      color: $lila;

      p{
        color: #fff;
        font-size: 1.7rem;
      }
    }
  }
}

.imagen-light{
  position:fixed;
  background: rgba(0,0,0,.5);
  width: 100%;
  height: 100%;  /* centrar imagen*/
  top: 4rem;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translate(100%);
  transition: transform .2s ease-in-out;
  z-index: 10000;
}

.show{
  transform: translate(0);
}

.agregar-imagen{
  object-fit: cover;
  width: 53rem;
  border-radius: 1rem; /*imagen*/
  transform: scale(0);
  transition: transform .3s .2s;
  height: 53rem;
}

.showImage{
  transform: scale(.8); /* lo que va a ampliar tamaño*/
}

//vinchas
.vinchas{
  padding: 0rem 6%;

  .container-card{

    .card{

      h3{
        padding: 1rem 0;
      }
    }
  }
}

//redes sociales
.redes-sociales{
  padding: 7rem 6% 5rem 6%;

  .textos-redes-sociales{
    
    .siguenos{
      display: flex;
      justify-content: space-between;
    }

    p{
      margin: 2rem 0;
    }

    .items-redes{
      display: flex;
      align-items:center;
      
      a{
        font-size: 2rem;
        color: $black-words;
        display: flex;
        align-items: center;
        margin-right: 1rem;
        font-weight: 500;

        &:hover{
          color: $purple;
          font-weight: 500;
          transform: scale(1.05);
        }

        img{
          margin-right: .5rem;
          height: 3rem;
        }
      }
    }
  }
}


.wrap{
  margin-top: 5rem;

  .products-list{

    .product-item{
      background: $black;
      text-align: center;
      margin-bottom: 2rem;

      h3{
        color: $lila;
        padding: .5rem 0;

        p{
          color: $white;
          padding: 0 2%;
        }
      }
    }
  }
}

.wrap > h3{
	color: $purple;
	font-weight: 500;
	display: flex;
	flex-direction: column;
	margin: 15px 0px;
  font-size: 2.5rem;
  text-align: center;
}

.wrap > h3:after{
	content: '';
	width: 100%;
	height: 1px;
	background: #C7C7C7;
	margin: 20px 0;
}

.store-wrapper{
	display: flex;
	flex-wrap: wrap;
}

.category_list{
	display: flex;
	flex-direction: column;
	width: 18%;

  a{
    font-size: 1.5rem;
  }
}

.category_list .category_item{
	display: block;
	width: 90%;
	padding: 15px 0;
	margin-bottom: 20px;
	background: $black;

	text-align: center;
	text-decoration: none;
	color: #fff;
}

.category_list .ct_item-active{
	background:#7900ac;
}

/* PRODUCTOS ============*/

.products-list{
	width: 82%;
	display: flex;
	flex-wrap: wrap;
}


.products-list .product-item{
	width: 22%;
  margin: 0 auto;
	// margin-left: 3%;
	// margin-bottom: 25px;
  box-shadow: .4rem .4rem 1rem #747474;

	display: flex;
	flex-direction: column;
	align-items: center;
	align-self: flex-start;

	transition: all .4s;
}

.products-list .product-item img{
  width: 100%;
  height: 220px;
  object-fit: cover;
}

//footer
footer{
	background: url(../img/footer.jpg);
	background-attachment: fixed; /*imagen fija*/
	background-position: center;
	background-size: cover; /*toda la imagen*/
	position: relative;
	overflow: hidden;
	color: #fff;
	

  .footer{
    padding: 1.5rem 6%;

    .footer-items{
      display: flex;
      justify-content: space-between;

      .interes{

        p{
          font-size: 1.6rem;
          color: $white;
          margin:.8rem 0 1rem 0;
        }
      }

      span{
        color: $lila;
        margin-bottom: 1rem;
        font-size: 2rem;
      }

      a{
        color: $white;
        font-size: 1.7rem;
        display: flex;
        align-items: center;
        margin-bottom: .9rem;

        img{
          height: 2rem;
          width: 2rem;
          margin-right: .3rem;
        }

        &:hover{
          color: $purple;
        }
      }

      .enlaces{
        display: flex;
        flex-direction: column;
      }

      .footer-redes-sociales{
        display: flex;
        flex-direction: column;
      }

      .footer-wpp{
        display: flex;
        flex-direction: column;

        a{
          font-size: 1.6rem;
        }

        .wpp{
          display: flex;

          img{
            height: 2.1rem;
            width: 2.1rem;
            margin-right: .3rem;
          }
        }
      }

      // .footer-telegram{
      //   display: flex;
      //   flex-direction: column;
      // }
    }
  }
}


/* RESPONSIVE ================================ del jquery*/

@media screen and (max-width: 1100px){
	.products-list .product-item{
		width: 30.3%;
	}
}

@media screen and (max-width: 900px){
	.category_list,
	.products-list{
		width: 100%;
	}

	.category_list{
		flex-direction: row;
		justify-content: space-between;
    width: 100%;
	}

	.category_list .category_item{
		align-self: flex-start;
		width: 15%;
		font-size: 14px;
	}

	// .products-list .product-item{
	// 	margin: 4.5%;
	// }

	// .products-list .product-item:nth-child(3n+1){
	// 	margin-left: 1rem;
	// }
}

@media screen and (max-width: 700px){
	.category_list{
		flex-direction: column;
	}
	.category_list .category_item{
		width: 100%;
		margin-bottom: 10px;
	}
}

@media screen and (max-width: 600px){

	.products-list .product-item{
		width: 47.5%;
	}

	// .products-list .product-item:nth-child(3n+1){
	// 	margin-left: 4.5%;
	// }

	// .products-list .product-item:nth-child(2n+1){
	// 	margin-left: 0px;
	// }

}

@media screen and (max-width: 360px){
  .wrap > h3{
    font-size: 2rem;  
  }

	.products-list .product_item{
		width: 100%;
		margin-left: 0px;
	}

  .products-list .product-item img{
    height: 180px;
  }
}


// responsivo
@media (max-width:991px) {

    html{
        font-size: 55%;
    }
    
    // section{
    //   padding:3rem 2rem;
    // }

    header{
      
      .header-center{

        .header-center-items{
          flex-direction: column;
        }
      }
    }

    .home .slide{
    padding:0rem 5%;

    .content{
      width: 55rem;

      h2{
        font-size: 3.5rem;
      }

      p{
        font-size: 2.3rem;
      }
    }
  }
} 

@media (max-width:860px){
  .acerca-de-mi{

    .acerca-de-mi-items{
      
      figure{

        img{
          height: 30rem;
          width: 40rem;
        }
      }
    }
  }
}

@media (max-width:768px){
  
  .agregar-imagen{
    width: 50rem;
    height: 50rem;
  }

  #menu-btn{
    display: inline-block;
    color: $lila;
    /*rotar la X */
    &.fa-times{
      transform: rotate(180deg);
    }
  }
  
  .home{
    margin-top: 9rem;
  }

  .header{

    .header-center{
      padding: 1.2rem 0;

      .header-center-items{
        flex-direction: row;

        .navbar{
          position: absolute;
          top:100%; left:0; right:0;
          background: $black;
          /* desaparece menu responsivo */
          clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    
          /* aparece menu responsivo */
          &.active{
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
          }

          .before::before{
            display: none;
          }
    
          a{
            display: block;
            font-size: 2rem;
            color: $white;
            padding: 2.5rem 6%;

            &:hover{
              color: $lila;
            }
          }
        }
      }
    }
  }

  .acerca-de-mi{
    
    .acerca-de-mi-items{
      
      figure{

        img{
          display: none;
        }
      }
    }
  }

  
}

@media (max-width:660px){
  .container-card{

    .card{

      img{
        height: 25rem;
        width: 20rem;
      }

      h3{
        font-size: 1.2rem;

        p{
          font-size: 1.2rem;
        }
      }
    }
  }
}

@media (max-width:450px) {

  .agregar-imagen{
    width: 45rem;
    height: 45rem;
    // object-fit: contain;
  }

    html{
        font-size: 50%;
    }

    .header{

      .header-center{

        .header-center-items{

          h1{
            font-size: 2.6rem;
          }
        }
      }
    }

    .home{

      .slide{
        min-height: 80vh;
      }
    }

    .iconos{
      
      .iconos-items{

        i{
          font-size: 4rem;
        }
  
        .iconos-textos{
          font-size: 1.3rem;
        }
      }
    }

    .subtitulos{
      font-size:2.7rem;
    }


    .container-card{

      .card{
        text-align: center;  

        img{
          height: 23rem;
          width: 18rem;
        }
      }
    }

    .redes-sociales{

      .textos-redes-sociales{

        .siguenos{
          display: flex;
          flex-direction: column;
        }

        p{
          margin: 1rem 0;
        }

        .items-redes{
          margin-bottom: 2rem;

          a{
            font-size: 2rem;
            margin-top: 1rem;

            img{
              height: 2.5rem;
            }
          }
        }
      }
    }

    footer{

      .footer{
        padding: 1.5rem 3%;

        .footer-items{
          // display: flex;
          // flex-direction: column;

          .interes{

            p{
              font-size: 1.3rem;
            }
          }

          span{
            margin-right: 1rem;
            font-size: 1.5rem;
          }

          a{
            font-size: 1.3rem;

            img{
              height: 1.7rem;
              width: 1.7rem;
            }
          }

          .footer-redes-sociales{

            a{
              margin-right: 1rem;
            }

            span{
              margin-right: 1rem;
            }
          }

          .footer-wpp{

            a{
              margin-right: 1rem;
              font-size: 1.3rem;
            }

            .wpp{

              img{
                height: 1.8rem;
                width: 1.8rem;
              }
            }

            span{
              margin-right: 1rem;
            }
          }

          // .footer-telegram{
          //   display: flex;
          //   flex-direction: row;

          //   a{
          //     margin-right: 1rem;
          //   }

          //   span{
          //     margin-right: 1rem;
          //   }
          // }
        }
      }
    }

    .imagen-light{
      top: .5rem;
    }

    .agregar-imagen{
      height: 54rem;
    }
} 

