@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap");
* {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  outline: none;
  border: none;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
  /* transicion de los hover, tambien para la transicion en responsivo */
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  scroll-padding-top: 5rem;
  overflow-x: hidden;
}

html::-webkit-scrollbar {
  width: 1rem;
}

html::-webkit-scrollbar-track {
  background: #242424;
}

html::-webkit-scrollbar-thumb {
  background: #9032bb;
}

.pulse {
  width: 5rem;
  height: 5rem;
  background: #51c254;
  border-radius: 50%;
  text-align: center;
  line-height: 5rem;
  font-size: 2rem;
  position: fixed;
  bottom: 1rem;
  right: 1.3rem;
  z-index: 100;
  cursor: pointer;
}

.pulse i {
  color: white;
}

.pulse:after,
.pulse:before {
  content: "";
  position: absolute;
  left: -1rem;
  top: -1rem;
  right: -1rem;
  bottom: -1rem;
  border: 1px solid green;
  border-radius: 50%;
  -webkit-animation: pulse 1.5s linear infinite;
          animation: pulse 1.5s linear infinite;
}

.pulse::after {
  -webkit-animation-delay: .4s;
          animation-delay: .4s;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
    opacity: 0;
  }
  50% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1.4);
            transform: scale(1.4);
    opacity: 0;
  }
}

@keyframes pulse {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
    opacity: 0;
  }
  50% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1.4);
            transform: scale(1.4);
    opacity: 0;
  }
}

.header .navbar .before::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background: #cb9bde;
  border-radius: 100px;
  bottom: 10px;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: center;
  transform-origin: center;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

.header .navbar .before:hover::before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
  -webkit-transform-origin: center;
  transform-origin: center;
}

.header .navbar .before {
  display: inline-block;
  padding: 15px 0;
  margin: 0 10px 0 10px;
  font-size: 2rem;
  color: #fff;
  position: relative;
}

.header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background: #7900ac;
  z-index: 4000;
}

.header .header-top p, .header .header-top a {
  color: #ffffff;
  font-size: 1.5rem;
  padding: 1rem 0;
  text-align: center;
  font-weight: 500;
}

.header .header-top p a:hover, .header .header-top a a:hover {
  color: #cb9bde;
}

.header .header-center {
  background: #242424;
}

.header .header-center .header-center-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: .5rem 6%;
  z-index: 100;
}

.header .header-center .header-center-items h1 {
  color: #cb9bde;
  font-size: 3rem;
}

.header .header-center .header-center-items .navbar a {
  display: inline-block;
  color: #ffffff;
  font-size: 1.9rem;
  font-weight: 500;
  margin-left: .5rem;
}

.header .header-center .header-center-items .navbar .descarga {
  color: #cb9bde;
  position: relative;
}

#menu-btn {
  font-size: 3rem;
  cursor: pointer;
  display: none;
}

.btn {
  margin-top: 3rem;
  display: inline-block;
  padding: 1rem 2.8rem;
  padding-right: 3rem;
  background: linear-gradient(130deg, #9032bb 93%, transparent 90%);
  color: #ffffff;
  cursor: pointer;
  font-size: 1.7rem;
  font-weight: 600;
}

.btn:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.home {
  padding: 0;
  margin-top: 9.5rem;
}

.home .slide {
  min-height: 84.9vh;
  background-size: cover !important;
  background-position: 0 45% !important;
  padding: 0 6%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home .slide .content {
  width: 60rem;
}

.home .slide .content h2 {
  font-size: 4rem;
  color: #cb9bde;
  font-weight: 600;
  display: block;
}

.home .slide .content p {
  font-size: 2.8rem;
  color: #ffffff;
  padding: 1rem 0;
  margin-top: 1rem;
}

.swiper-pagination-bullet {
  height: 2rem;
  width: 2rem;
  background: #ffffff;
  border-radius: 0;
}

.swiper-pagination-bullet.swiper-pagination-bullet-active {
  background: #cb9bde;
}

.iconos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 5rem 6%;
}

.iconos .iconos-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1rem;
}

.iconos .iconos-items i {
  font-size: 5rem;
  color: #9032bb;
  margin-right: 1rem;
}

.iconos .iconos-items .iconos-textos {
  font-size: 1.5rem;
  color: #090909;
}

.iconos .iconos-items .iconos-textos h3 {
  line-height: 3rem;
}

.iconos .iconos-items .iconos-textos span {
  color: #767676;
  font-weight: 600;
}

.subtitulos {
  font-size: 3rem;
  margin-bottom: 1rem;
  color: #9032bb;
}

.texto-de-subtitulos {
  color: #090909;
  font-size: 1.7rem;
  font-weight: 500;
}

.acerca-de-mi {
  padding: 0 6%;
}

.acerca-de-mi figure img {
  height: 30rem;
  width: 50rem;
  border-radius: .5rem;
  margin-right: 5rem;
}

.acerca-de-mi .acerca-de-mi-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.productos-capilares {
  padding: 7rem 6%;
}

.container-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  border-radius: 3rem;
}

.container-card .card {
  position: relative;
  margin-top: 4rem;
  -webkit-box-shadow: .4rem .4rem 1rem #747474;
          box-shadow: .4rem .4rem 1rem #747474;
}

.container-card .card img {
  height: 38rem;
  width: 33rem;
  cursor: pointer;
  -o-object-fit: cover;
     object-fit: cover;
}

.container-card .card h3 {
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
  text-align: center;
  background: #242424;
  font-size: 1.5rem;
  width: 100%;
  padding: .5rem 0;
  color: #cb9bde;
}

.container-card .card h3 p {
  color: #fff;
  font-size: 1.7rem;
}

.imagen-light {
  position: fixed;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  /* centrar imagen*/
  top: 4rem;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: translate(100%);
          transform: translate(100%);
  -webkit-transition: -webkit-transform .2s ease-in-out;
  transition: -webkit-transform .2s ease-in-out;
  transition: transform .2s ease-in-out;
  transition: transform .2s ease-in-out, -webkit-transform .2s ease-in-out;
  z-index: 10000;
}

.show {
  -webkit-transform: translate(0);
          transform: translate(0);
}

.agregar-imagen {
  -o-object-fit: cover;
     object-fit: cover;
  width: 53rem;
  border-radius: 1rem;
  /*imagen*/
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: -webkit-transform .3s .2s;
  transition: -webkit-transform .3s .2s;
  transition: transform .3s .2s;
  transition: transform .3s .2s, -webkit-transform .3s .2s;
  height: 53rem;
}

.showImage {
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
  /* lo que va a ampliar tamaño*/
}

.vinchas {
  padding: 0rem 6%;
}

.vinchas .container-card .card h3 {
  padding: 1rem 0;
}

.redes-sociales {
  padding: 7rem 6% 5rem 6%;
}

.redes-sociales .textos-redes-sociales .siguenos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.redes-sociales .textos-redes-sociales p {
  margin: 2rem 0;
}

.redes-sociales .textos-redes-sociales .items-redes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.redes-sociales .textos-redes-sociales .items-redes a {
  font-size: 2rem;
  color: #090909;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 1rem;
  font-weight: 500;
}

.redes-sociales .textos-redes-sociales .items-redes a:hover {
  color: #9032bb;
  font-weight: 500;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.redes-sociales .textos-redes-sociales .items-redes a img {
  margin-right: .5rem;
  height: 3rem;
}

.wrap {
  margin-top: 5rem;
}

.wrap .descarga {
  color: #9032bb;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  margin: 0 auto;
  padding: 1.5rem;
  width: 20%;
  font-size: 1.8rem;
  color: #ffffff;
  background: #9032bb;
}

.wrap .products-list .product-item {
  background: #242424;
  text-align: center;
  margin-bottom: 2rem;
}

.wrap .products-list .product-item h3 {
  color: #cb9bde;
  padding: .5rem 0;
}

.wrap .products-list .product-item h3 p {
  color: #ffffff;
  padding: 0 2%;
}

.wrap > h3 {
  color: #9032bb;
  font-weight: 500;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 15px 0px;
  font-size: 2.5rem;
  text-align: center;
}

.wrap > h3:after {
  content: '';
  width: 100%;
  height: 1px;
  background: #C7C7C7;
  margin: 20px 0;
}

.store-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.category_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 18%;
}

.category_list a {
  font-size: 1.5rem;
}

.category_list .category_item {
  display: block;
  width: 90%;
  padding: 15px 0;
  margin-bottom: 20px;
  background: #242424;
  text-align: center;
  text-decoration: none;
  color: #fff;
}

.category_list .ct_item-active {
  background: #7900ac;
}

/* PRODUCTOS ============*/
.products-list {
  width: 82%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.products-list .product-item {
  width: 22%;
  margin: 0 auto;
  -webkit-box-shadow: .4rem .4rem 1rem #747474;
          box-shadow: .4rem .4rem 1rem #747474;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: start;
      align-self: flex-start;
  -webkit-transition: all .4s;
  transition: all .4s;
}

.products-list .product-item img {
  width: 100%;
  height: 220px;
  -o-object-fit: cover;
     object-fit: cover;
}

footer {
  background: url(../img/footer.jpg);
  background-attachment: fixed;
  /*imagen fija*/
  background-position: center;
  background-size: cover;
  /*toda la imagen*/
  position: relative;
  overflow: hidden;
  color: #fff;
}

footer .footer {
  padding: 1.5rem 6%;
}

footer .footer .footer-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .footer .footer-items .interes p {
  font-size: 1.6rem;
  color: #ffffff;
  margin: .8rem 0 1rem 0;
}

footer .footer .footer-items span {
  color: #cb9bde;
  margin-bottom: 1rem;
  font-size: 2rem;
}

footer .footer .footer-items a {
  color: #ffffff;
  font-size: 1.7rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: .9rem;
}

footer .footer .footer-items a img {
  height: 2rem;
  width: 2rem;
  margin-right: .3rem;
}

footer .footer .footer-items a:hover {
  color: #9032bb;
}

footer .footer .footer-items .enlaces {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer .footer .footer-items .footer-redes-sociales {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer .footer .footer-items .footer-wpp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer .footer .footer-items .footer-wpp a {
  font-size: 1.6rem;
}

footer .footer .footer-items .footer-wpp .wpp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .footer .footer-items .footer-wpp .wpp img {
  height: 2.1rem;
  width: 2.1rem;
  margin-right: .3rem;
}

/* RESPONSIVE ================================ del jquery*/
@media screen and (max-width: 1100px) {
  .products-list .product-item {
    width: 30.3%;
  }
}

@media screen and (max-width: 900px) {
  .category_list,
  .products-list {
    width: 100%;
  }
  .category_list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
  }
  .category_list .category_item {
    -ms-flex-item-align: start;
        align-self: flex-start;
    width: 15%;
    font-size: 14px;
  }
}

@media screen and (max-width: 700px) {
  .category_list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .category_list .category_item {
    width: 100%;
    margin-bottom: 10px;
  }
  .wrap .descarga {
    width: 100%;
  }
}

@media screen and (max-width: 600px) {
  .products-list .product-item {
    width: 47.5%;
  }
}

@media screen and (max-width: 360px) {
  .wrap > h3 {
    font-size: 2rem;
  }
  .products-list .product_item {
    width: 100%;
    margin-left: 0px;
  }
  .products-list .product-item img {
    height: 180px;
  }
}

@media (max-width: 991px) {
  html {
    font-size: 55%;
  }
  header .header-center .header-center-items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .home .slide {
    padding: 0rem 5%;
  }
  .home .slide .content {
    width: 55rem;
  }
  .home .slide .content h2 {
    font-size: 3.5rem;
  }
  .home .slide .content p {
    font-size: 2.3rem;
  }
}

@media (max-width: 860px) {
  .acerca-de-mi .acerca-de-mi-items figure img {
    height: 30rem;
    width: 40rem;
  }
}

@media (max-width: 768px) {
  .agregar-imagen {
    width: 50rem;
    height: 50rem;
  }
  #menu-btn {
    display: inline-block;
    color: #cb9bde;
    /*rotar la X */
  }
  #menu-btn.fa-times {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  .home {
    margin-top: 9rem;
  }
  .header .header-center {
    padding: 1.2rem 0;
  }
  .header .header-center .header-center-items {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .header .header-center .header-center-items .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: #242424;
    /* desaparece menu responsivo */
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
            clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    /* aparece menu responsivo */
  }
  .header .header-center .header-center-items .navbar.active {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
  .header .header-center .header-center-items .navbar .before::before {
    display: none;
  }
  .header .header-center .header-center-items .navbar a {
    display: block;
    font-size: 2rem;
    color: #ffffff;
    padding: 2.5rem 6%;
  }
  .header .header-center .header-center-items .navbar a:hover {
    color: #cb9bde;
  }
  .acerca-de-mi .acerca-de-mi-items figure img {
    display: none;
  }
}

@media (max-width: 660px) {
  .container-card .card img {
    height: 25rem;
    width: 20rem;
  }
  .container-card .card h3 {
    font-size: 1.2rem;
  }
  .container-card .card h3 p {
    font-size: 1.2rem;
  }
}

@media (max-width: 450px) {
  .agregar-imagen {
    width: 45rem;
    height: 45rem;
  }
  html {
    font-size: 50%;
  }
  .header .header-center .header-center-items h1 {
    font-size: 2.6rem;
  }
  .home .slide {
    min-height: 80vh;
  }
  .iconos .iconos-items i {
    font-size: 4rem;
  }
  .iconos .iconos-items .iconos-textos {
    font-size: 1.3rem;
  }
  .subtitulos {
    font-size: 2.7rem;
  }
  .container-card .card {
    text-align: center;
  }
  .container-card .card img {
    height: 23rem;
    width: 18rem;
  }
  .redes-sociales .textos-redes-sociales .siguenos {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .redes-sociales .textos-redes-sociales p {
    margin: 1rem 0;
  }
  .redes-sociales .textos-redes-sociales .items-redes {
    margin-bottom: 2rem;
  }
  .redes-sociales .textos-redes-sociales .items-redes a {
    font-size: 2rem;
    margin-top: 1rem;
  }
  .redes-sociales .textos-redes-sociales .items-redes a img {
    height: 2.5rem;
  }
  footer .footer {
    padding: 1.5rem 3%;
  }
  footer .footer .footer-items .interes p {
    font-size: 1.3rem;
  }
  footer .footer .footer-items span {
    margin-right: 1rem;
    font-size: 1.5rem;
  }
  footer .footer .footer-items a {
    font-size: 1.3rem;
  }
  footer .footer .footer-items a img {
    height: 1.7rem;
    width: 1.7rem;
  }
  footer .footer .footer-items .footer-redes-sociales a {
    margin-right: 1rem;
  }
  footer .footer .footer-items .footer-redes-sociales span {
    margin-right: 1rem;
  }
  footer .footer .footer-items .footer-wpp a {
    margin-right: 1rem;
    font-size: 1.3rem;
  }
  footer .footer .footer-items .footer-wpp .wpp img {
    height: 1.8rem;
    width: 1.8rem;
  }
  footer .footer .footer-items .footer-wpp span {
    margin-right: 1rem;
  }
  .imagen-light {
    top: .5rem;
  }
  .agregar-imagen {
    height: 54rem;
  }
}
/*# sourceMappingURL=style.css.map */